html {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

* {
  background-repeat: no-repeat;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 3rem 0;
}

.port {
  width: 100%;
  padding: 0 30px;
}

.gutter .port {
  max-width: 1260px;
  margin: auto;
}

.button-purple {
  background: #b61984;
  border: none;
  border-radius: 50px;
  padding: 1.1em 1.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #f1f1f1;
  margin: 6px;
  text-align: center;
  align-content: flex-start;
  align-items: center;
  line-height: 1;
  box-shadow: 0 0 0 3em #b61984 inset;
  transition: all 0.3s;
  cursor: pointer;
}
.button-purple:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}
.button-purple:hover:hover {
  background: none;
  border: none;
  color: #b61984;
}

.button-transparent {
  background: transparent;
  border: none;
  border-radius: 50px;
  padding: 1.1em 1.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color: #b61984;
  margin: 6px;
  text-align: center;
  align-content: flex-start;
  align-items: center;
  line-height: 1;
  box-shadow: 0 0 0 1px #b61984 inset;
  transition: all 0.3s;
  cursor: pointer;
}
.button-transparent:hover {
  box-shadow: 0 0 0 3em #b61984 inset;
}
.button-transparent:hover:hover {
  background: none;
  border: none;
  color: #f1f1f1;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #b61984;
  margin-bottom: 0.3rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

header {
  width: 100%;
  transform: translateY(0);
  transition: all 0.3ms;
  position: absolute;
  z-index: 999;
}
header a {
  transition: all 100ms linear;
  position: relative;
  text-decoration: none;
}

header .logo {
  position: relative;
}
header .logo .logo-container {
  position: absolute;
  order: 0;
  top: 0;
  left: 0;
}
header .logo .logo-container img {
  width: 80px;
}
header .menu {
  font-size: 13px;
  position: relative;
}
header .menu .main-menu {
  display: flex;
  float: right;
  list-style: none;
  align-items: baseline;
  margin: 0;
}
header .menu .main-menu li {
  float: left;
  padding: 0 50px 0 0;
}
header .menu .main-menu li a {
  line-height: 80px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: #181818;
  display: block;
}
header .menu .main-menu li:hover .main-menu-link {
  color: #b61984;
  text-decoration: none;
}
header .top-bar {
  display: flex;
  height: 80px;
  float: right;
  margin-right: 10px;
  align-items: center;
}
header .top-bar .top-bar-content {
  line-height: 38px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 0.8em;
}
header .top-bar .top-bar-content a:nth-child(1) {
  color: #f1f1f1;
  text-decoration: none;
}
header .top-bar .top-bar-content a:nth-child(1):hover:hover {
  background: none;
  border: none;
  color: #b61984;
}
header .top-bar .top-bar-content a:nth-child(1) i {
  padding-right: 0.5em;
}
header .top-bar .top-bar-content a {
  font-size: 1.25em;
  font-weight: 500;
  color: #181818;
  margin-left: 1em;
}
header .top-bar .top-bar-content a:hover i {
  color: #b61984;
}

.main-menu li:nth-child(1) a::after {
  opacity: 1;
  transform: scale(0.9);
}
.main-menu li a:after {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #b61984;
  transition: all 200ms linear;
  transform: scale(0);
  z-index: 10;
}
.main-menu li:hover a:after {
  opacity: 1;
  transform: scale(1.4);
}

header .main-menu .sub-menu {
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-width: 780px;
  width: 100%;
  background: white;
  left: 0;
  display: flex;
  margin: 0;
  padding-left: 2%;
  transition: all 0.3s;
  transform: scale(0.9);
}
header .main-menu .sub-menu .sub-menu-item:hover ul a {
  color: #181818;
}
header .main-menu .sub-menu li {
  list-style: none;
}
header .main-menu .sub-menu li .item-title {
  padding: 1em 1em;
  padding-left: 0;
  border-bottom: 2px solid #b61984;
}
header .main-menu .sub-menu li a {
  font-size: 0.9em;
  line-height: 1.7;
  text-decoration: none;
}
header .main-menu .sub-menu li a:after {
  content: none;
}
header .main-menu .sub-menu li a:hover {
  color: #b61984;
}
header .main-menu .sub-menu li ul li {
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
}
header .main-menu .sub-menu li ul li .item-list {
  padding: 1em 1em;
  padding-left: 0;
  line-height: 1.7;
}
header .main-menu .sub-menu li ul li .item-list:hover {
  color: #b61984;
}
header .main-menu .sub-menu li ul li:nth-child(4) {
  border-bottom: none;
}

header .main-menu li:nth-child(1):hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.banner {
  position: relative;
}
.banner .banner-img {
  right: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.banner .banner-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.banner .banner-left-content {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 50% 0;
  height: auto;
}
.banner .banner-left-content h5 {
  line-height: 1.2;
}
.banner .banner-left-content span {
  font-size: 6.4rem;
  font-weight: 700;
  color: inherit;
  line-height: 1.2;
}
.banner .banner-left-content span em {
  font-size: inherit;
  font-weight: 500;
  color: inherit;
  font-style: normal;
}
.banner .banner-left-content div {
  height: auto;
  margin-top: 2.2em;
}
.banner .banner-left-content div a {
  padding: 1.3em 2.6em;
  text-decoration: none;
  font-size: 0.94em;
  align-items: center;
}
.banner .banner-left-content div a:hover span {
  color: #b61984;
}
.banner .banner-left-content div a span {
  line-height: 1.1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 600;
  color: #f1f1f1;
}
.banner .banner-right .banner-right-content {
  margin: -3em -4rem 0 -8rem;
  float: left;
  position: relative;
  z-index: -1;
  width: 100%;
}
.banner .banner-right .banner-right-content .main-img {
  width: 90%;
  overflow: hidden;
}
.banner .banner-right .banner-right-content .main-img img {
  margin: 0;
  line-height: 0;
  height: auto;
}
.banner .banner-right .sub-img {
  position: absolute;
}
.banner .banner-right .sub-img:nth-child(2) {
  top: 7%;
  right: 6%;
}
.banner .banner-right .sub-img:nth-child(3) {
  top: 35%;
  right: -20%;
}
.banner .banner-right .sub-img:nth-child(4) {
  bottom: 12%;
  right: -15%;
}
.banner .banner-right .sub-img:nth-child(5) {
  bottom: 12%;
  left: -15%;
}

.banner .container-fluid {
  padding: 0;
}
.banner .banner-img-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -8%;
  overflow: hidden;
  z-index: -2;
}
.banner .banner-img-footer img {
  width: 100%;
}

@-webkit-keyframes slideTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.infor {
  padding-top: 6rem;
  background: #dcd1f3;
}
.infor .infor-item:hover .content-left i {
  color: #b61984;
}
.infor .infor-item:hover .content-right a {
  color: #181818;
}
.infor .infor-item:hover .content-right i {
  color: #181818 !important;
}
.infor .infor-item .content-left {
  margin-right: 5%;
}
.infor .infor-item .content-left a {
  text-decoration: none;
  font-size: 13.5px;
}
.infor .infor-item .content-left a:hover i {
  color: #b61984;
}
.infor .infor-item .content-left a i {
  font-size: 3.2em;
  font-weight: none;
  color: #181818;
}
.infor .infor-item .content-right a {
  text-decoration: none;
}
.infor .infor-item .content-right a .title {
  text-decoration: none;
  font-size: 0.9rem;
}
.infor .infor-item .content-right span {
  font-size: 15px;
  font-weight: 400;
  color: #181818;
  font-family: "Roboto", sans-serif;
  padding-top: 0.8em;
}
.infor .infor-item .content-right div {
  padding-top: 1.2rem;
}
.infor .infor-item .content-right div a {
  font-size: 0.8rem;
  line-height: 1;
  letter-spacing: 0.5px;
}
.infor .infor-item .content-right div i {
  font-size: 0.8rem;
  color: #b61984;
}

.about {
  padding-top: 0;
  position: relative;
}
.about .container {
  width: 100%;
}
.about .about-bg {
  padding-top: 3rem;
  background: url(../../img/purple_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.about .about-content {
  display: flex;
  position: relative;
}

.about-left .about-left-img {
  position: absolute;
  top: 0;
  left: -30%;
  z-index: 1;
}
.about-left .about-left-img img {
  width: 100%;
}
.about-left .about-left-carousel {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-left .about-left-carousel .about-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20%;
  padding-right: 10%;
  width: 100%;
}
.about-left .about-left-carousel .about-left-text img {
  width: 150px;
  margin-bottom: 8%;
}
.about-left .about-left-carousel .about-left-text blockquote p {
  font-style: italic;
  font-size: 1.8em;
  font-weight: 300;
  color: black;
}
.about-left .about-left-carousel .about-left-text h5 {
  margin-top: 3%;
  font-size: 12px;
}
.about-left .about-left-carousel .about-left-text h6 {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.about-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.about-right .about-right-content {
  padding: 10% 0;
  margin-left: 10%;
}
.about-right .about-right-content .title {
  font-size: 1.1rem;
}
.about-right .about-right-content h2 {
  font-size: 3.8rem;
  font-size: 3.8rem;
  font-weight: 700;
  color: black;
}
.about-right .about-right-content p {
  font-size: 1.2rem;
  margin-top: 0.9rem;
  font-family: "Montserrat", sans-serif;
}
.about-right .about-right-content div {
  margin-top: 15%;
}
.about-right .about-right-content div a {
  padding: 1.1rem 2.3rem;
  text-decoration: none;
  font-size: 0.94rem;
  text-transform: uppercase;
  font-weight: 600;
}

.owl-carousel .owl-nav {
  display: none;
  visibility: hidden;
}
.owl-carousel .owl-dots {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background: #b61984;
  transform: scale(1.2);
}
.owl-carousel .owl-dots .owl-dot span {
  transition: all 0.3s;
  transform: scale(1);
  background: #ffde39;
}
.owl-carousel .owl-dots .owl-dot:hover span {
  background: #b61984;
  transform: scale(1.2);
}

.courses {
  margin-top: 12rem;
}
.courses .course-item {
  padding: 0 15px;
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
}
.courses .course-item:hover {
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.2);
}
.courses .course-item:hover .item-img img {
  transform: scale(1.1);
}
.courses .course-item .item-img {
  overflow: hidden;
}
.courses .course-item .item-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.6s ease-in-out;
  transform: scale(1);
}
.courses .course-item .item-text {
  overflow: hidden;
  position: relative;
  padding: 1.5em 3em 3em 3em;
}
.courses .course-item .item-text div {
  font-size: 0.75em;
  font-weight: 600;
  color: #181818;
  text-transform: uppercase;
  padding-bottom: 1em;
}
.courses .course-item .item-text h1 {
  position: relative;
  font-size: 1.6em;
  font-weight: 700;
  color: #181818;
  padding-bottom: 0.5em;
}
.courses .course-item .item-text h1::before {
  font-size: 4rem;
  position: absolute;
  display: block;
  color: #b61984;
  width: auto !important;
  margin: 0 !important;
  border: none;
  top: -0.2em;
  left: -1.2em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f075";
  transform: rotate(-120deg);
}
.courses .course-item .item-text span {
  overflow: hidden;
  max-height: 5.3em;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #181818;
  font-family: "Roboto", sans-serif;
}
.courses .course-item .item-text div {
  margin-top: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}
.courses .course-item .item-text div a {
  text-decoration: none;
  font-size: 12px;
}
.courses .course-item .item-text div i {
  color: #b61984;
  padding: 0 0.5em;
}
.courses .course-item .item-text div:hover a,
.courses .course-item .item-text div:hover i {
  color: #181818;
}

.beginner-course {
  background: #dcd1f3;
  background-image: url(../../img/white_top_wave_01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.beginner-course .beginner-course-content {
  display: flex;
}
.beginner-course .beginner-course-content .beginner-course-left {
  width: 50%;
  padding: 0 15px;
}
.beginner-course .beginner-course-content .beginner-course-right {
  width: 50%;
  padding: 0 15px;
}

.beginner-course-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.2rem;
}
.beginner-course-left .title {
  font-size: 1rem;
  margin-bottom: 0.6em;
}
.beginner-course-left h1 {
  font-size: 3.15rem;
  font-weight: 700;
  color: #181818;
  margin-bottom: 0.8em;
}
.beginner-course-left span {
  font-family: "Roboto", sans-serif;
  width: 480px;
}
.beginner-course-left div {
  margin-top: 3.2rem;
}
.beginner-course-left div a {
  text-decoration: none;
  padding: 0.5em 2.2em;
}
.beginner-course-left div a i {
  font-size: 12px;
}
.beginner-course-left div a span {
  line-height: 1.2;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}

.inter-course {
  background: #dcd1f3;
  padding: 0;
  position: relative;
}
.inter-course .inter-course-bg {
  background-image: url(../../img/white_bottom_wave_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  bottom: -10%;
  right: 0;
  height: 100%;
  left: 0;
  width: 100%;
}
.inter-course .inter-course-content {
  display: flex;
}
.inter-course .inter-course-content .inter-course-left,
.inter-course .inter-course-content .inter-course-right {
  width: 50%;
}

.inter-course-left div {
  padding: 0 20px;
}

.inter-right-content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.2rem;
}
.inter-right-content .title {
  font-size: 1rem;
  margin-bottom: 0.6em;
}
.inter-right-content h1 {
  font-size: 3.15rem;
  font-weight: 700;
  color: #181818;
  margin-bottom: 0.8em;
}
.inter-right-content span {
  font-family: "Roboto", sans-serif;
  width: 480px;
}
.inter-right-content div {
  margin-top: 3.2rem;
}
.inter-right-content div a {
  text-decoration: none;
  padding: 17.64px 32.76px;
}
.inter-right-content div a span {
  line-height: 1.1;
  font-size: 14.1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}

.inter-right-content ul {
  list-style: none;
  padding: 0;
  padding-top: 40px;
}
.inter-right-content ul a {
  line-height: 0.5;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.inter-right-content ul a:hover .inter-right-list i {
  color: #b61984 !important;
}
.inter-right-content ul a .inter-right-list {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.inter-right-content ul a .inter-right-list i {
  color: #181818;
  font-size: 1.5em;
  line-height: 1;
  transition: all 300ms ease;
}
.inter-right-content ul a .inter-right-list h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: #b61984;
  border: none !important;
  padding: 1.3em 1.5em;
  margin: 0;
}
.inter-right-content ul a .inter-right-list-plus {
  margin-top: 0;
}
.inter-right-content ul a .inter-right-list-plus i {
  display: block;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  border-radius: 50%;
  color: #181818;
  box-shadow: 0 0 0 1px #181818 inset;
  opacity: 0.6;
}
.inter-right-content div {
  margin-top: 3rem;
}

.schedule {
  margin-top: 5rem;
}
.schedule .schedule-content .schedule-title {
  text-align: center;
}
.schedule .schedule-content .schedule-title h1 {
  font-size: 57px;
  font-weight: 700;
  color: #181818;
  padding-bottom: 5%;
}

.schedule-item-content {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
}
.schedule-item-content .schedule-item-header {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center center;
  padding: 4em 2em;
}
.schedule-item-content .schedule-item-header .sub-title {
  font-size: 12px;
  font-weight: normal;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
.schedule-item-content .schedule-item-header .title {
  font-size: 1.8em;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: capitalize;
}
.schedule-item-content .schedule-item-body div {
  display: flex;
  justify-content: space-between;
  padding: 1.4em 2em;
  border-bottom: 1px solid rgba(82, 82, 82, 0.1);
  font-size: 0.87em;
}
.schedule-item-content .schedule-item-body div:nth-child(6) {
  border-bottom: none;
}
.schedule-item-content .schedule-item-body div span {
  font-weight: 600;
  text-transform: uppercase;
}
.schedule-item-content .schedule-item-body .schedule-item-focused {
  background: white;
  display: block;
  border-bottom: none;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item span {
  font-weight: 600;
  text-transform: uppercase;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item:nth-child(1) {
  color: #b61984;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item:nth-child(2) {
  color: #181818;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item:nth-child(2) span {
  text-transform: capitalize;
  font-weight: 400;
}
.schedule-item-content .schedule-item-body .schedule-item-focused .sub-item:nth-child(2) span i {
  margin-right: 6px;
  color: #b61984;
}/*# sourceMappingURL=main.css.map */