.courses {
   margin-top: 12rem;
   .course-item {
      padding: 0 15px;
      border-radius: 10px;
      transition: all 0.6s ease-in-out;
      &:hover {
         box-shadow: 0 25px 20px -20px rgb(0 0 0 / 20%);
         .item-img {
            img {
               transform: scale(1.1);
            }
         }
      }
      .item-img {
         overflow: hidden;
         img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            transition: all 0.6s ease-in-out;
            transform: scale(1);
         }
      }

      .item-text {
         overflow: hidden;
         position: relative;
         padding: 1.5em 3em 3em 3em;
         div {
            @include styleText(0.75em, $fw-2, $color-black-1);
            text-transform: uppercase;
            padding-bottom: 1em;
         }
         h1 {
            position: relative;
            @include styleText(1.6em, $fw-4, $color-black-1);
            padding-bottom: 0.5em;

            &::before {
               font-size: 4rem;
               position: absolute;
               display: block;
               color: $color-purple-1;
               width: auto !important;
               margin: 0 !important;
               border: none;
               top: -0.2em;
               left: -1.2em;
               font-family: 'Font Awesome 5 Free';
               font-weight: 900;
               content: '\f075';
               transform: rotate(-120deg);
            }
         }
         span {
            overflow: hidden;
            max-height: 5.3em;
            position: relative;

            @include styleText(15px, $fw-1, $color-black-1);
            font-family: $roboto;
         }
         div {
            margin-top: 1em;
            width: fit-content;
            display: flex;
            align-items: baseline;
            cursor: pointer;
            a {
               text-decoration: none;
               font-size: 12px;
            }
            i {
               color: $color-purple-1;
               padding: 0 0.5em;
            }
            &:hover {
               a,
               i {
                  color: $color-black-1;
               }
            }
         }
      }
   }
}
